.mainContainer {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.mainContainer .headerContainer {
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #262626;

  /* სტილებიაქვს დასამატებელი */
}

/* Header Start */

.headerContainer header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
.headerContainer header img {
  width: 118px;
  height: 40px;
}
.headerContainer header .contactUs {
  padding: 12px 18px;
  background-color: var(--greenButton-color);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  color: #262626;
}
header ul {
  display: flex;
  gap: 24px;
  height: 100%;
  align-items: center;
}
header ul li:first-child {
  background-color: var(--hover-color);
  padding: 12px 22px;
  border-radius: 6px;
}
header ul a {
  color: #e6e6e6;
}

header ul li {
  list-style: none;
}

/* Header end */

/* footer start */
footer {
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

footer .footerContainer {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
}

footer .footerTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #262626;
  padding-bottom: 40px;
}
footer .footerTop .logoFooter img {
  width: 118px;
  height: 40px;
}
.footerTop nav {
  display: flex;
  gap: 20px;
}
.footerTop .footerContact {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 10px 10px 20px;
  border-radius: 8px;
  border: 1px solid #262626;
}
.footerTop .footerContact .contactInfo {
  display: flex;
  gap: 10px;
}
footer nav a {
  color: #e6e6e6;
  font-weight: 500;
}

footer .contactInfo img {
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0));
  border-radius: 6px;
  width: 52px;
  height: 52px;
}
footer .footerContact p {
  font-weight: 500;
  color: #e6e6e6;
}
.footerBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.footerBottom .contactViaSocials {
  display: flex;
  gap: 22px;
}

.footerBottom .contactViaSocials img {
  width: 24px;
  height: 24px;
}

.footerBottom .contactViaSocials a {
  color: #e6e6e6;
}
.contactEmail,
.contactPhone,
.contactLocation {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6px;
  padding-bottom: 12px;
  border-bottom: 1px solid #262626;
}

.footerBottom .extraFooterParagraph {
  font-size: 14px;
  color: #98989a60;
}

/* footer end */

/* main Start */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}

/* Hero section */
.heroSection {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #262626;
  background-image: url("/assets/images/heroBgOne.png"),
    url("/assets/images/heroBgTwo.png");
  background-repeat: no-repeat no-repeat;
  background-size: contain;
  background-position: bottom center;
}
.heroSection .heroSectionInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroSection .heroSectionInfo h2 {
  font-weight: 600;
  font-size: 48px;
  color: #ffffff;
  max-width: 500px;
  text-align: center;
  line-height: 57px;
  margin-top: 112px;
}
.heroSectionInfo .heroSectionHelpfull {
  max-width: 699px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid black;
  padding: 18px 30px;
  background-color: var(--comainBG-color);
  border-radius: 8px;
  font-size: 18px;
  margin-top: 30px;
}
.heroSectionInfo .heroSectionHelpfull p {
  color: #98989a60;
}
.heroSectionInfo .heroSectionHelpfull button {
  padding: 8px 10px;
  color: #ffffff;
  background-color: red;
  border-radius: 6px;
}
.heroSection .heroButtonSection {
  display: flex;
  gap: 13px;
  margin: 40px 0 274px 0;
}
.heroSection .heroButtonSection button {
  padding: 14px 20px;
  background-color: #333333;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
}
#contactUsButtonGreen {
  color: #262626;
  background-color: var(--greenButton-color);
}

/* main end */

/* media query Header */

@media screen and (max-width: 1024px) {
  .navMenu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 96px 56px 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
  }

  .navItem {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform 0.4s ease-out, visibility 0.4s;
  }
  .navItem:nth-child(1) {
    transition-delay: 0.1s;
  }
  .navItem:nth-child(2) {
    transition-delay: 0.2s;
  }
  .navItem:nth-child(3) {
    transition-delay: 0.3s;
  }
  .navItem:nth-child(4) {
    transition-delay: 0.4s;
  }
  .navItem:nth-child(5) {
    transition-delay: 0.5s;
  }

  .navMenu ul {
    flex-direction: column;
    gap: 32px;
  }

  .navClose {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  .navToggle {
    display: flex;
    justify-content: space-between;
  }
  .navToggle button img {
    width: 46px;
    height: 46px;
  }

  .showMenu {
    left: 0;
  }
  .contactUs {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .navToggle {
    display: none;
  }

  .navClose {
    display: none;
  }
}

/* footer mobile start */
@media (max-width: 390px) {
  footer {
    max-width: 390px;
    width: 100%;
    padding: 30px 16px;
  }

  footer .footerTop {
    max-width: 358px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  footer .footerTop .logoFooter {
    max-width: 148.1px;
    display: flex;
    justify-content: center;
  }

  footer .footerTop nav {
    max-width: 358px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
    gap: 20px;
    border-top: 1px solid #262626;
  }

  footer .footerTop .footerContact {
    width: 358px;
    height: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerBottom {
    width: 358px;
    display: flex;
    flex-direction: column;
  }

  .footerBottom .contactViaSocials {
    width: 358px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .footerBottom .contactViaSocials img {
    width: 24px;
    height: 24px;
  }

  /* .extraFooterParagraph {
    margin-top: 20px;
  } */
}

/* footer mobile end */
