.mainContainer {
}
.mainContainer .headerContainer {
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #262626;

  /* სტილებიაქვს დასამატებელი */
}

.headerContainer header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
.headerContainer header img {
  width: 118px;
  height: 40px;
}
.headerContainer header button {
  padding: 12px 18px;
  background-color: var(--greenButton-color);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  color: #262626;
}
header ul {
  display: flex;
  gap: 24px;
  height: 100%;
  align-items: center;
}
header ul li:first-child {
  background-color: var(--hover-color);
  padding: 12px 22px;
  border-radius: 6px;
}
header ul a {
  color: #e6e6e6;
}

header ul li {
  list-style: none;
}

/* footerის css */
footer {
  max-width: 1440px;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

footer .footerTop {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #262626;
  padding-bottom: 40px;
}
footer .footerTop .logoFooter img {
  width: 118px;
  height: 40px;
}
.footerTop nav {
  display: flex;
  gap: 20px;
}
.footerTop .footerContact {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 10px 10px 20px;
  border-radius: 8px;
  border: 1px solid #262626;
}
.footerTop .footerContact .contactInfo {
  display: flex;
  gap: 10px;
}
footer nav a {
  color: #e6e6e6;
  font-weight: 500;
}

footer .contactInfo img {
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0));
  border-radius: 6px;
  width: 52px;
  height: 52px;
}
footer .footerContact p {
  font-weight: 500;
  color: #e6e6e6;
}
.footerBottom {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.footerBottom .contactViaSocials {
  display: flex;
  gap: 22px;
}
.footerBottom .contactViaSocials a {
  color: #e6e6e6;
}
.contactEmail,
.contactPhone,
.contactLocation {
  display: flex;
  gap: 6px;
  padding-bottom: 12px;
  border-bottom: 1px solid #262626;
}

.footerBottom .extraFooterParagraph {
  font-size: 14px;
  color: #98989a60;
}
.heroSection {
  background-color: lightcoral;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
  border: 1px solid #262626;
  background-image: url(/assets/images/herocont.png);
}
.heroSection .heroSectionInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroSection .heroSectionInfo h2 {
  font-weight: 600;
  font-size: 48px;
  color: #ffffff;
  max-width: 500px;
  text-align: center;
  line-height: 57px;
  margin-top: 112px;
}
.heroSectionInfo .heroSectionHelpfull {
  max-width: 699px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid black;
  padding: 18px 30px;
  background-color: var(--comainBG-color);
  border-radius: 8px;
  font-size: 18px;
  margin-top: 30px;
}
.heroSectionInfo .heroSectionHelpfull p {
  color: #98989a60;
}
.heroSectionInfo .heroSectionHelpfull button {
  padding: 8px 10px;
  color: #ffffff;
  background-color: red;
  border-radius: 6px;
}
.heroSection .heroButtonSection {
  display: flex;
  gap: 13px;
  margin: 40px 0 274px 0;
}
.heroSection .heroButtonSection button {
  padding: 14px 20px;
  background-color: #333333;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
}
#contactUsButtonGreen {
  color: #262626;
  background-color: var(--greenButton-color);
}
